.two-columns__brief {
  width: 175px;
  flex-direction: column;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;
}
