.two-columns__paragraph {
  flex-direction: row;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
}

.two-columns__paragraph:nth-child(1n + 2) {
  margin-top: 30px;
}
